<div class="row form-group">
    <div class="col-8">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="q">
    </div>
    <div class="col-4">
        <button type="submit" class="btn btn-primary">search...</button>
    </div>
</div>

