<div class="col-md-12 mb-2">
    <div class="card">
        <img src="http://placeimg.com/640/480/technics" alt="image" class="card-img-top rounded">
        <div class="card-body">
            <h2>Lorem ipsum dolor</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias, distinctio dolorem.
                Adipisci, dolores! Cumque tempore quisquam eos aliquid perferendis ad nobis ratione
                praesentium accusantium distinctio quaerat, molestias eveniet, velit et!
                Sequi repudiandae voluptas ratione repellat aperiam, aliquid velit voluptatem unde
                laudantium quo repellendus cumque aliquam perspiciatis quos architecto
                necessitatibus corrupti deleniti pariatur? At quam dolorum laborum dolorem iusto
                debitis veniam!
                Ut, assumenda vel consequatur ratione quae itaque optio pariatur architecto
                distinctio, sed, earum quas maxime? Culpa ea aliquid fugiat commodi, iure voluptate
                minima suscipit. Perspiciatis accusantium hic tempora quae explicabo!
                Assumenda, quidem! Tempora obcaecati quis in fugiat cum dolore vel maiores itaque
                magnam, atque, voluptate excepturi corporis? Voluptas beatae reiciendis voluptatum
                magni perferendis? Debitis iste dignissimos quis. Nisi, voluptates iure.
                Veritatis quod excepturi temporibus a quaerat eum optio, ipsam fuga ea sint
                voluptatibus ad quisquam? Maxime quidem nihil numquam adipisci hic nostrum a veniam
                vitae quibusdam minima, sapiente, quia ratione!
                Sint inventore, harum non distinctio temporibus modi. Corporis sapiente vitae modi
                quos reiciendis illo, ad et itaque culpa voluptas non, blanditiis voluptatum quis
                labore! In praesentium temporibus veritatis amet consectetur.
                Aliquam quibusdam, cum quo, rerum voluptatem odit laudantium odio ullam nostrum ex
                asperiores recusandae beatae, at natus est autem dolorum officia. Minima amet sed
                repudiandae dolore et. Maxime, porro veritatis!
                Nobis inventore fugiat amet provident eius magni, non neque nostrum ad maiores
                illum, natus iste nulla odit nisi labore architecto? Placeat nostrum, explicabo odit
                excepturi unde cum libero mollitia obcaecati.
                In molestiae ab quae quos voluptate temporibus possimus, fugit odio, quaerat ea
                dolorum. Natus officiis quidem quaerat esse odit eos, obcaecati nostrum ipsum
                architecto cum sed! Eos enim dolorem at.
                Incidunt qui, nam totam nihil suscipit corporis assumenda voluptatum maiores, nulla
                reiciendis ipsam impedit pariatur fugit perferendis ut aliquam harum exercitationem
                dolor. Asperiores voluptatum natus eum a mollitia sapiente cumque.
                Perspiciatis dolorum velit veritatis nulla rem? Eveniet, aut totam sapiente vero
                odio esse nisi exercitationem dolorum pariatur culpa sed debitis. Error dolorum sit
                totam repellendus rerum libero, deserunt enim culpa.
                Quisquam, quod! Cum ad ipsa ut delectus velit dolorem est eaque itaque maiores
                possimus quas exercitationem vero repellendus earum reiciendis voluptatum, ratione
                saepe sint ex. Velit rerum unde dolorem modi.
                Voluptate doloremque tenetur deleniti reprehenderit omnis porro, illum nostrum
                perspiciatis corrupti ut laboriosam esse iure dolorem, placeat nobis maxime error
                quis voluptatibus quisquam? Aspernatur, minus dolores. Enim quos non nisi?
                Tempore numquam cum error distinctio libero hic cupiditate quia ex repellat corrupti
                incidunt quis fugiat accusantium corporis, obcaecati odio exercitationem. Quisquam
                perferendis laudantium eos accusamus voluptatum voluptatem ea, corporis temporibus.
                Architecto, illum laudantium. Unde similique assumenda deleniti nihil? Doloribus ut
                laborum vel porro maiores rem eaque vero! Aliquam quibusdam exercitationem itaque,
                possimus inventore similique facilis iure natus, quis cumque necessitatibus?
                Nihil, dolor? Libero culpa mollitia commodi cumque dicta laborum doloribus itaque
                vel voluptas id quasi repellendus tempora quo natus ex necessitatibus ducimus
                fugiat, amet non. Molestiae earum incidunt eos voluptate.
                Provident, quia ipsa. Est nesciunt mollitia ipsam obcaecati, labore aut. Est
                dolorem, aspernatur ipsam, exercitationem deleniti reiciendis at, veritatis veniam
                id unde eaque perspiciatis fugiat molestiae? Ipsam quasi aliquam dolores?
                Blanditiis culpa at, aliquam expedita aliquid dolorum sapiente harum quidem alias ut
                facere repellendus rerum, eveniet quisquam molestias in vero iusto cumque! Numquam
                veniam id dolorem aspernatur. Corrupti, ullam. Ipsum.
                Accusantium pariatur adipisci quos. Atque esse quisquam voluptas aliquid ullam, et
                sint voluptates totam amet reiciendis accusamus recusandae doloribus exercitationem
                suscipit nam pariatur sequi, accusantium adipisci eos consequatur possimus
                asperiores.
                In quas est exercitationem sapiente deserunt vel odio obcaecati laborum voluptatibus
                praesentium. Inventore quas dolore unde mollitia tempora maiores voluptas sunt
                voluptatem iste sequi excepturi, delectus placeat harum ratione ipsum.
                Harum ab quo officiis eos, cumque adipisci mollitia, rerum maxime in, numquam velit
                ipsum alias aspernatur consectetur sed quia vero soluta perferendis corporis
                quibusdam itaque? Non molestias asperiores culpa. Error!
                Asperiores sapiente temporibus eligendi inventore dolores porro sint, id
                necessitatibus nostrum repudiandae nulla adipisci, delectus laudantium sed alias
                veritatis. Commodi accusantium nam animi inventore in labore tempore ducimus,
                cupiditate at.
                Alias cum veritatis dolorum dolore quod inventore sunt minus non. Aspernatur officia
                cum quibusdam. Quis ex, nam maxime, praesentium consequuntur neque enim repellat
                consectetur exercitationem totam architecto molestiae tempora fugiat?
                Asperiores consequuntur laborum impedit fuga explicabo ut nesciunt consectetur
                deserunt voluptate quidem, sequi vitae aliquam debitis amet, repellat perferendis
                provident rem at incidunt! Veniam ab ad ipsum sint magnam quis!
                Quisquam, rem sequi temporibus iure unde ex nostrum fuga! Esse rerum id, vero natus
                consequuntur molestiae voluptatum facilis fugit eius nisi deleniti neque mollitia
                beatae ab explicabo rem? Quam, quisquam?
            </p>

        </div>
        <div class="row">
            <div class="col d-flex justify-content-end">
                <span> 10.10.2021 <i class="fas fa-calendar-alt"></i></span>

            </div>
        </div>
    </div>
</div>