@model ICollection<SocialModel>

@foreach (var item in Model)
{
    <a href=@item.SocialUrl target="_blank" style="text-decoration: none;color:black">
        <i class=@item.IconName></i>
    </a>
}

<a data-bs-toggle="modal" data-bs-target="#exampleModal"> <i class="fas fa-file-pdf fa-2x"></i></a>